/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
    font: 14px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
    font-weight: 300;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    color: #fff;
    background: #000;
}
a{
    color:white;
    text-decoration: none;
}
li{
    list-style: none;
}
.sidebar{
    width: 20%;
    position:fixed;
    right: 0;
    height: 100%;
}
.side-logo{
    height:22.43px;
    width:87px;
    padding: 25px 0 40px 0;
}
.side-contents{
    padding-left:16%;
}
.side-menu li a{
    color: #fff;
    font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
    font-size: 14px;

}
.side-menu li a:hover{
    text-decoration: underline;
}
.side-menu li{
    padding-bottom: 25px;
}
.side-icons .fab{
    padding:45px 10px 0 0;
}
.side-icons .fab:hover{
    opacity:0.8;
}
.contents{
    width:80%;
}
.top-image{
    width: 100%;
}
.message-wrapper{
    width:70%;
    margin: 0 auto;
    text-align: center;
}
.heading{
    font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: 3px solid #fff;
    padding-top: 80px;
    margin-bottom: 50px;
    display: inline-block;

}
.textarea{
    text-align: left;
    padding-bottom: 80px;
}